<!DOCTYPE HTML>
<html>
	<head>
		<title>Bruddr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
		<link rel="shortcut icon" type="image/png" href="/images/logo/logo.png"/>
    <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Logo --> 
		<!-- <div style="
			position:fixed;
			top:0px;
		    left:0px;
		    width:100%;">
		</div> -->


		<!-- Header -->
			<header id="header">
				<h1>Bruddr<image style="margin-left:10px;width:50px;height:50px;" src="images/logo/logo-white.png"/></h1>
				<p>Find a bruddr.<br />
				Get stuff done today.
			</header>

		<!-- Signup Form -->
			<section>
				<a href='/user/login' class='button'>Log In</a>
				<a href='/user/signup' class='button'>Sign Up</a>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/bruddr/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="mailto:bruddrz@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; bruddr</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>
