<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div id='splashImageContainer'></div>  
    
    <div id='contentsContainer'>
      <div id='logoContainer'>
        <img src='https://scontent.xx.fbcdn.net/v/t1.0-9/13087409_1017094681672990_7692124595092719181_n.png?oh=6ad572960ad3ff8c5da1335aa1f6778c&oe=57E3D1BC' height='200px'/>
      </div>
      <div id='textContainer'>
        <h1><%= title %></h1>
        <p>this is still a W.I.P by <span class='blue-txt'>bruddr</span></p>
        <p>Check back soon, alright! :)</p>
      </div>
      <div></div>
    </div>
    
    <div class='blue-txt bottomText'>
        © brudder
    </div>
    
  </body>
</html>

<script>

</script>
