<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div id='splashImageContainer'></div>  
    
    <div id='contentsContainer'>
      <div id='logoContainer'>
        <img src='/assets/logo/bruddr-logo.png' height='200px'/>
      </div>
      <div id='textContainer'>
        <h1><%= title %></h1>
        <p>this is still a W.I.P by <span class='blue-txt'>bruddr</span></p>
        <p>Check back soon, alright! :)</p>
      </div>
      <div></div>
    </div>
    
    <div class='blue-txt bottomText'>
        © brudder
    </div>
    
  </body>
</html>

<script>

</script>
