<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>this is still a W.I.P by <span style='color:#2abfdd'>bruddr</span></p>
    <p>Check back soon, alright! :)</p>
  </body>
</html>

<script>

</script>
