<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sign In - Bruddr</title>
  
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/user/style.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="top">
      <% if (message.length > 0){%>
        <div style='width:100%;background-color:"red"'>
          <%= message %>
        </div>
        <% } else { %>
          <div></div>
          <% } %>
          <h1 id="title" class="hidden"><span id="logo">Bruddr</span></h1>
        </div>
        <div class="login-box animated fadeInUp">
          <div class="box-header">
            <h2>Log In</h2>
          </div>
          <form action="/user/api/login" method="post">
            <br/>
            <input type="text" id="username" placeholder="Username">
            <br/>
            <br/>
            <input type="password" id="password" placeholder="Password">
            <br/>
            <button type="submit">Log In</button>
            <br/>
          </form>
          <a href="/user/signup"><p class="small">Don't have an account?</p></a>
        </div>
      </div>
    </body>
    
    <script>
    $(document).ready(function () {
      $('#logo').addClass('animated fadeInDown');
      $("input:text:visible:first").focus();
    });
    $('#username').focus(function() {
      $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function() {
      $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function() {
      $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function() {
      $('label[for="password"]').removeClass('selected');
    });
    </script>
    
    </html>
