@import "color_variables";

nav {
	background: $bruddrBlue !important;
	background: -moz-radial-gradient(top,ellipse cover,$turqoise 0%, $bruddrBlue 100%) !important;
	background: -webkit-radial-gradient(top,ellipse cover,$turqoise 0%, $bruddrBlue 100%) !important;
	background: radial-gradient(ellipse at top,$turqoise 0%, $bruddrBlue 100%) !important;
}
.navbar {
  border-radius: 0px;
	a {
	  margin-right: 15px;
	}
}
