@import "color_variables";

nav {
	position: absolute !important;
	width: 100% !important;
	background-color: rgba(0,0,0,0.75) !important;
	z-index: 1000000 !important;
}
.navbar {
  border-radius: 0px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); 
	a {
	  margin-right: 15px;
	}
}

.bg-bruddrBlue {
  background-color: #0267C1 !important; }

.bg-darkBlue {
  background-color: #001F54 !important; }
